<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251430908670-app85ghq6bmmqb870i1itnji44t5qdif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251430908670-app85ghq6bmmqb870i1itnji44t5qdif</string>
	<key>API_KEY</key>
	<string>AIzaSyBBl6nuC7wzMOLqecGZdxMp7CyLIWWmkZE</string>
	<key>GCM_SENDER_ID</key>
	<string>251430908670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.D.U.DontWasteApp-2-0</string>
	<key>PROJECT_ID</key>
	<string>dontwasteapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>dontwasteapp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251430908670:ios:abde8c9f8c572547556baf</string>
</dict>
</plist>